<IfModule mod_rewrite.c> 
RewriteEngine on RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}.php -f 
RewriteRule ^(.*)$ $1.php 
</IfModule>
#Error 
ErrorDocument 400 /404
ErrorDocument 401 /404
ErrorDocument 403 /404
ErrorDocument 404 /404 
ErrorDocument 405 /404 
ErrorDocument 500 /404 